{% extends "base.html" %}

{% block body %}

    <header>
        <h1>🏆 Bienvenido a Copa Renault</h1>
    </header>
    
    <main>
        <section>
            <h2>👋 ¡Bienvenido!</h2>
            <p>En Copa Renault nos esforzamos por ofrecer una educación de calidad y un ambiente de aprendizaje inclusivo y enriquecedor.</p>
        </section>

        <section>
            <h2>🎯 Nuestra Misión</h2>
            <p>Nuestra misión es proporcionar a nuestros estudiantes las herramientas necesarias para alcanzar su máximo potencial académico, personal y profesional.</p>
        </section>

        <section>
            <h2>💡 Nuestros Valores</h2>
            <ul>
                <li><strong>🏅 Excelencia:</strong> Buscamos la excelencia en todo lo que hacemos.</li>
                <li><strong>🤝 Respeto:</strong> Fomentamos un ambiente de respeto mutuo y comprensión.</li>
                <li><strong>🛡️ Integridad:</strong> Actuamos con integridad y honestidad en todas nuestras interacciones.</li>
                <li><strong>🤝 Colaboración:</strong> Valoramos la colaboración y el trabajo en equipo.</li>
                <li><strong>🚀 Innovación:</strong> Promovemos la innovación y la creatividad en el proceso educativo.</li>
            </ul>
        </section>

        <section>
            <h2>🏅 Deportes</h2>
            <ul>
                <li><strong>⚽ Fútbol:</strong> Fomentamos el trabajo en equipo y la disciplina a través del fútbol.</li>
                <li><strong>🏀 Baloncesto:</strong> Desarrollamos habilidades de coordinación y estrategia en el baloncesto.</li>
                <li><strong>🏐 Voleibol:</strong> Valoramos la cooperación y el espíritu deportivo en el voleibol.</li>

            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Copa Renault - Todos los derechos reservados</p>
    </footer>

{% endblock %}
